<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <script src="https://kit.fontawesome.com/e2ac9cc532.js" crossorigin="anonymous"></script><link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>

<div class="contact-form-container">
    <div class="contact-us">
        <div class="contact-header">
            <h1>
            &#9135;&#9135;&#9135;&#9135;&nbsp;&nbsp;CONTACT US
            </h1>
        </div>
    </div>
    <div class="header">
        <h1>
        Matriculas Abiertas
        </h1>
        <h2>
        Reserva tu cupo
        </h2>
    </div>
    <div class="contact-form">

        <form id="form-paso4">
            <div id="detalle-matricula">
                <div class="card" >
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfv5fwLLkS2XBBjnnVRuogZZpoPtgvVffgrg&usqp=CAU" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Matricula Lograda</h5>
                      <p class="card-text">Registro satisfactorio</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Curso:   <%= detalle.curso %></li>
                      <li class="list-group-item">Modulos: <% detalle.modulos.forEach(function(modulo) { %>
                        <br>- <%= modulo %>
                        <% }); %></li>
                      <li class="list-group-item">Pago: <%= detalle.pago %></li>
                      <li class="list-group-item">Total: S/. <%= detalle.total %></li>

                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="javascripts/script.js"></script>

</body>
</html>